*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-style: normal;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,black,#3a4452)
}
.calc{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0 3px 15px rgba(113,115,119,0.5);
}
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background-color: transparent;
    box-shadow: 0 3px 15px rgba(113,115,119,0.5);
    text-align: right;
    color: white;
    font-size: 30px;
    cursor: pointer;
    outline: none;
}
input::placeholder{
    color: white;
}
button{
    width: 60px;
    height: 60px;
    margin: 10px;
    background-color: transparent;
    border: none;
    box-shadow: 0 3px 15px rgba(113,115,119,0.5);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 25px;
}
.eql_btn{
    background-color: orange;
}
.opr_btn{
    color: rgb(76, 233, 76);
}